In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../drop.csv')

In [5]:
df.head()

,TRANSACTION_ID,ACCOUNT_ACRONYM,TRANSACTION_CATEGORY,TRANSACTION_DATE,TRANSACTION_CONTRACT,TRANSACTION_THIRD_PARTY,TRANSACTION_VALUE
0,82e1510c-f2cb-4d88-9667-d3ee5be583b1,VB-GK-Alt,Start,2018-09-02,False,Jan Braunsdorff,70730
1,9ba9f54c-5df4-4460-9ed6-8a00777405f9,VB-GK-Alt,Miete,2018-09-03,True,Paul Beyer,-48000
2,76bb503d-6ffa-45ee-9fab-ceef0f150119,VB-GK-Alt,Geldabhebung,2018-09-03,False,Volksbank Karslruhe,-5000
3,f86152cd-1188-4264-b65d-a3901109ed69,VB-GK-Alt,Einkauf - Supermarkt,2018-09-03,False,Scheck-In Center Durlach,-386
4,33a47405-454d-421c-af1d-aa6e005b1bd8,VB-GK-Alt,Kindergeld,2018-09-03,True,Thomas Braunsdorff,19400